.cls-1 {
    fill: #ffce52;
}

.cls-2 {
    fill: #ffe369;
}

.cls-3 {
    fill: #ffb32b;
}

.cls-4 {
    fill: #f6fafd;
}

.cls-5 {
    fill: url(#radial-gradient);
}

.cls-6 {
    fill: url(#radial-gradient-2);
}

.cls-7 {
    fill: #273941;
}

.cls-8 {
    fill: #141e21;
}

.cls-9 {
    fill: #00a3e1;
}